
#photo{
    background-size: contain;
    background-repeat:no-repeat;
    width:100%;
    height:auto;
    background-image: url('https://imgix.bustle.com/elite-daily/2015/07/06025354/elitedaily_KristenCurrette_travel.jpg');
    
}

#travel{
   height:100vh; 
}
#countdown{
    margin-bottom: 5px;
}
#addtrip{
    float: center;
    border-radius: 10px;
    background-color: tomato;
    width: 25vh;
font-size: 20px;
    padding: 12px;
    margin-left: 580px;
    margin-bottom: 30px;
}